@{
    ViewBag.Title = "About";
}

@{ <video id="videoBG" poster="/Content/assets/poster.PNG" autoplay muted> <source src="~/Content/assets/backgroundVid.mp4" type="video/mp4"></video> }

<div class="form-style-a">
    <h2 class="heading-font">@ViewBag.Title Bona Finders</h2>
    <h3 class="bold-main-font">Thank you for reading more about Bona Finders!</h3>
    <br />
    <p class="bold-main-font asize-text"><a href="https://www.dictionary.com/browse/bona-fide" target="_blank">Dictionary.com</a> defines bona fide as made, done, and presented in good faith as well as without deception or fraud. Bona Finders wants to focus on sharing trustworthy companies and brands while becoming more aware of the unethical ones.</p>

    <p class="bold-main-font asize-text">This application is a way for users to share and learn information about individual company and business ethics so that they can shop with ease of mind about who their dollar is supporting and encourage society to lean towards better conduct.</p>

    <p class="bold-main-font asize-text">Sometimes we just don't know who or what we are supporting. For example, there are cocoa farms that make child slaves collect their coco beans for them. Do we want to give our money to candy businesses that allow this? Or do we want to support business that do the right thing? Supporting ethical businesses and making sure they thrive will encourage all businesses to thrive by doing the right thing as well.</p>

    <p class="bold-main-font asize-text">Please keep in mind that it is a privelage to boycott certain organizations. This application is simply for informative reference, not for shaming with negative exposure. Not everyone can afford to cut themselves off from purchasing products or services from companies that are affordable and convenient for them and it does not make anyone a bad person for continuing to shop from unethical brands. However, if you can afford it, everyone is encouraged to shop from ethical organizations and brands, small businesses, and local businesses.</p>

    <p class="bold-main-font asize-text">This application is targeting shoppers who are seeking to be more conscious consumers when it comes to morals, sustainability, etc. My reasoning behind this project came from my increasing awareness about the intentions of businesses I purchase from online and learning about what is happening behind the scenes. From now on, I want as many of my purchases to primarily come from ethical companies! Let's encourage society to lean towards better conduct together!</p>

    <p class="bold-main-font asize-text">Thank you for viewing my application!</p>
</div>