@{
    ViewBag.Title = "Contact";
}

@{
    <img class="imageBG" src="~/Content/assets/greenblur.PNG">
}

<h2 class="heading-font">@ViewBag.Title</h2>
<h3 class="bold-main-font">Ways to Find Me:</h3>

@*<address class="mid-main-font">
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@

<address class="mid-main-font">
    <strong>My Linked In Page</strong>   <a href="https://www.linkedin.com/in/chanda-shay-646594204/" target="_blank">Click Here</a><br />
    <strong>My Github Page</strong> <a href="https://github.com/cshaym?tab=repositories" target="_blank">Click Here</a>
</address>